.box {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 237px 0px 220px;
}

form {
    margin: 10px 5px;
}

#type {
    margin: 5px 20px 5px 10px;
    padding: 13px 290px 13px 10px;
    border: 1px solid rgb(207, 202, 195);
    border-radius: 4px;
}

.btn {
    margin: 5px 5px 5px 5px;
    padding: 13px 25px 13px 25px;
    background-color: blue;
    color: white;
    border: 2px solid blue;
    border-radius: 5px;
}

.sun {
    display: flex;
}

.country {
    font-size: 35px;
    margin: 3px 10px 3px 10px;
    padding: 1px 5px 5px 1px;
    color: rgb(121, 116, 116);
}

/* .date {
    display: flex;
} */

#day {
    margin: 0px 0px 0px 5px;
    padding: 0px 5px 0px 8px;
    color: rgb(121, 116, 116);
}

.time {
    margin: 0px 10px 0px 0px;
    padding: 0px 10px 0px 0px;
    color: rgb(121, 116, 116);
}

.weather {
    margin: 0px 10px 0px 5px;
    padding: 0px 10px 0px 8px;
    color: rgb(121, 116, 116);
}

.image {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.number {
    font-size: 60px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.list {
    list-style-type: none;
    padding: 5px 5px 5px 80px;
    margin: 16px 5px 5px 60px;
    color: rgb(121, 116, 116);
}

.celsius {
    margin: 10px 0px 30px 0px;
    padding: 10px 0px 10px 0px;
}

.fahrenheit {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 5px;
}

.Link {
    text-decoration: none;
}

#para {
    margin: 2px 0px 0px 110px;
    padding: 0px 0px 0px 110px;
}
a{
    text-decoration-line: none;
}